# Database credentials
DB_NAME=db_canastra
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432

# DEBUG
DEBUG=True

RECUPERACAO_URL=<your_recovery_url_here>
RECUPERACAO_API_KEY=<your_api_key_here>