<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Verde</title>
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .navbar {
      background-color: #2e8b57; /* verde musgo */
      overflow: hidden;
      display: flex;
      padding: 10px 20px;
    }

    .navbar a {
      color: white;
      text-decoration: none;
      padding: 14px 20px;
      transition: background-color 0.3s;
    }

    .navbar a:hover {
      background-color: #246b45;
    }
  </style>
</head>
<body>

  <div class="navbar">
    <a href="{% url 'core:home' %}">Início</a>
    <a href="#sobre">Sobre</a>
    <a href="#contato">Contato</a>
    <a href="{% url 'empresa:cadastro_empresa' %}">Cadastro Empresa</a>
  </div>

    {% block conteudo %}
    {% endblock %}
    
</body>
</html>
